
.returnbook-page{
   background: url("/src/assets/b2.png") no-repeat center center fixed;
  background-size: cover;
  background-color: #f8ebeb;
}

.returnbook-table{
  color: #811111;
}



.returnbook-table td {
  padding: 12px 18px;
  /* border-bottom: 1px solid #e5d4c6;  */
  color: #fcf4f4; 
}



.returnbook-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff; /* white text */
  letter-spacing: 1px;
}

